<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-toolbar class="header mat-elevation-z12">
    <span>
        <a routerLink="/">
            <img class="logo" src="frontend/src/assets/img/logo.png" alt="logo">
        </a>
    </span> 
    <span class="title-group">
        <a>
            <a routerLink="/books">
                <i class="material-icons">
                book_2
            </i>
            </a>
            <a routerLink="/dashboard">
                <i class="material-icons">
                view_kanban
            </i>
            </a>
        </a>
    </span>
        
</mat-toolbar>