<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-toolbar class="header mat-elevation-z12">
    <span>
        <a routerLink="/">
            <img class="logo" src="assets/img/logo.png" alt="logo">
        </a>
    </span> 
    <span class="title-group">
        <a>
            <a routerLink="/products">
                <i class="material-icons">
                shopping_cart
            </i>
            </a>
            <a>
                <i class="material-icons">
                <menu></menu>
            </i>
            </a>
            <a>
                <i class="material-icons">
                dashboard
            </i>
            </a>
            CRUD em Angular
        </a>
    </span>
        
</mat-toolbar>